CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# eclipse project configuration files
.cproject
.project
.settings/

# executable file
daobell_main
daobell_test
libdaobell_lib.a
libdaobell_lib.so

# build directory
build/
