CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# eclipse project configuration files
.cproject
.project
.settings/

# executable file
daobell_main
dalbell_test

# build directory
build/
